:root {
    --card-color: #b5a56f;
    --card-secondary-color: #574f1e;
    --text-color: #443500;
}

/* MENU GALLERY*/

#menu {
    display: flex;
    flex-wrap: nowrap;   /* keep cards in one row */
    gap: 20px;           /* space between cards */
    overflow-x: auto;    /* enable horizontal scrolling if overflow */
    padding: 20px;
    width: 100%;              /* take full screen width */
    max-width: 1110px;   /* width of three cards plus 2 gaps and padding */
    box-sizing: border-box;
    scroll-snap-type: x mandatory;  /* enable snapping on x-axis */
        /* fade effect */
    mask-image: radial-gradient(circle, black, black 65% , transparent 80%);
}

#menu::-webkit-scrollbar {
    display: none;
}

/* CARD */
.card {
    background-color: var(--card-color);
    width: 350px;
    height: 450px;
    border-radius: 30px;
    padding: 5px;
    border: 5px solid transparent;
    background-image: 
        linear-gradient(var(--card-color), var(--card-color)),
        linear-gradient(135deg, var(--card-color), var(--card-secondary-color));
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 350px;
    scroll-snap-align: start;
}

.curve-text {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 30px;
  margin-bottom: -55px; /* pull image closer to text */
}

.curve-label {
  font-size: 40px;
  fill: var(--text-color);
  font-weight: bold;
}

.card-img {
  display: block;
  max-width: 200px;  /* adjust image size */
  margin: 0 auto;    /* center under text */
}

.card p {
    margin: 10px 25px 10px 25px;
    font-size: 15px;
    color: var(--card-secondary-color);
    height: 80px;
    margin-bottom: 15px;
}

.order_sec {
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0),   /* lighter left edge */
        var(--text-color),          /* darker middle */
        rgba(255, 255, 255, 0)    /* lighter right edge */
    );
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 40px;
}

#rupee {
    width: 40px;
    height: 30px;
    margin-right: -10px;
}
